@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DBold;
    src: url("assets/fonts/DancingScriptBold.ttf") format("opentype");
}
@font-face {
    font-family: DMedium;
    src: url("assets/fonts/DancingScriptMedium.ttf") format("opentype");
}

@font-face {
    font-family: DRegular;
    src: url("assets/fonts/DancingScriptRegular.ttf") format("opentype");
}

@font-face {
    font-family: DSemibold;
    src: url("assets/fonts/DancingScriptSemiBold.ttf") format("opentype");
}
@font-face {
    font-family: SRegukar;
    src: url("assets/fonts/Jersey25Regular.ttf") format("opentype");
}
@font-face {
    font-family: PRegular;
    src: url("assets/fonts/ParisienneRegular.ttf") format("opentype");
}
@font-face {
    font-family: RJersey;
    src: url("assets/fonts/Jersey25Regular.ttf") format("opentype");
}
@font-face {
    font-family: RMerriweather;
    src: url("assets/fonts/Merriweather-Regular.ttf") format("opentype");
}
body {
    background-color: rgb(2, 14, 45);
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    color: #fff;
}
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn {
    display: grid;
    place-items: center;
    width: 140px;
    height: 40px;
    margin-right: 20px;
    background: #222;
    border: none;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
}
.icon {
    color: rgba(254, 254, 254, 0.1);
    font-size: 35px;
    z-index: 10;
}
.animate1::before {
    position: absolute;
    content: "";
    width: 146px;
    height: 46px;
    background: coral;
    z-index: -1;
    transition: 0.2s;
    animation: animate 2s linear infinite;
    border-radius: 15px;
}
/* .animate1:hover::before {
    width: 212px;
    height: 208px;
} */
.animate2 {
    overflow: hidden;
}
.animate2::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 180%;
    background: #fff;
    transform: rotate(45deg);
    border-radius: 8px;
}
.animate2:hover::before {
    animation: spiner 1s linear infinite;
}
.animate2::after {
    position: absolute;
    content: "";
    inset: 6px;
    background-color: #222;
}
/* .animate3 {
    animation: animate 1s linear infinite;
} */
@keyframes animate {
    50% {
        filter: hue-rotate(350deg);
    }
}
@keyframes spiner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
